@media all and (min-width: 1551px) and (max-width: 1688px){

/*--------------------------------------------------------------------------------------------*/
/*Partie filtre*/
/*--------------------------------------------------------------------------------------------*/
	#filtres{
		max-width: 71%;
	}

	.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
	    margin-right: -11rem;
	}

	.infos{
		max-width: 28%;
	}

/*--------------------------------------------------------------------------------------------*/
/*Partie hébergements*/
/*--------------------------------------------------------------------------------------------*/	

	.hebergements a {
	    width: 28%;
	    margin: 2rem 0rem 0.5rem 3rem;
	}

/*--------------------------------------------------------------------------------------------*/
/*Partie populaire*/
/*--------------------------------------------------------------------------------------------*/

	.populaire figcaption{
		margin: -16.6rem 0rem 2rem 18rem;
	}

	.populaire .fa-star {
    	margin-top: 2rem;
	}

/*--------------------------------------------------------------------------------------------*/
/*Partie activités*/
/*--------------------------------------------------------------------------------------------*/

	.activite-large {
	    width: 23%;
	}

	.activite-large img {
	    height: 49.8rem;
	}

	.activite-petit {
	    width: 41rem;
	}

	.activite-petit .fort {
	    height: 24.5rem;
	}

	.activite-petit .frioul {
	    height: 19rem;
	}

	.activite-petit-deux {
	    width: 33.4rem;
	}
/*--------------------------------------------------------------------------------------------*/
/*Partie footer*/
/*--------------------------------------------------------------------------------------------*/
	
	.footer-menu{
		margin-right: 33rem;
	}

}