html{
	font-size: 62.5%;
	/*permet de donner 1rem=10px (contre 16px)*/
}

body{
	max-width: 100%;
	font-size: 1.5rem;
	margin: 0rem;
	font-family: 'Raleway-Regular', Arial, "Arial Black", "Comic Sans MS","Times New Roman", "Trebuchet MS";
}

header, section, aside{
	margin: 0rem 3rem 0rem 3rem;
}

h1, h2, h3, span, .element-filtre, #lieux, .inscription{
	font-family: 'Raleway-Bold', Arial, "Arial Black", "Comic Sans MS","Times New Roman", "Trebuchet MS";
}

a{
	text-decoration: none;
	color: black;
}

ul{
	list-style-type: none; 
}

/*--------------------------------------------------------------------------------------------*/
/*Partie header*/
/*--------------------------------------------------------------------------------------------*/
nav{
	font-family: 'Raleway-SemiBold', Arial, "Arial Black", "Comic Sans MS","Times New Roman", "Trebuchet MS";
	/*Permet d'ajuster la position logo*/
	height: 0.5rem;
}

nav a{
	/*Permet au border-top d'être collé au bord de la page*/
	line-height: 6.5rem;
}

.logo{
	/*Rend le logo plus maniable*/
	display: flex;
}

.menu{
	/*Colle le menu à droite*/
	display: flex;
	list-style: none;
  	justify-content: flex-end;
}

.menu a{
	/*Permet d'écarter les éléments du menu*/
	padding: 3.6rem;
}

.menu a:hover{
	/*Effet aux survol du menu*/
	color: #106ffc;
	border-top: 0.2rem #0065FC solid;	
}

.inscription{
	color: #0065FC;
}


/*--------------------------------------------------------------------------------------------*/
/*Section formulaire*/
/*--------------------------------------------------------------------------------------------*/
#formulaire{
	margin-top: 4rem;
}

h1{
	margin-bottom: -1rem;
}

h1 + p{
	font-size: 1.68rem;
}

form{
	margin-top: 3rem;
}

label{
	/*Création du background de l'icon*/
	background-color: #F2F2F2;
    padding: 1.5rem 1.8rem 1.2rem 1.8rem;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
}

.fa-map-marker-alt{
	font-size: 2rem;
}


#lieux{
	border: 0.1rem #F2F2F2 solid;
    font-size: 2rem;
    margin-left: -0.5rem;
    padding: 0.92rem 0rem 0.97rem 1.8rem;
}

#lieux::placeholder{
	/*Change la couleur d'écriture du placeholder*/
	color: black;
}

/*Ne marche pas ?*/
#lieux::-webkit-input-placeholder{
	color: black;
}
#lieux.studentid:-ms-input-placeholder{
	color: black;
}
/*Ne marche pas ?*/

.recherche{
	color: white;
	font-size: 2rem;
	margin-left: -0.5rem;
	background-color: #0065FC;
    padding: 1.05rem 2rem 1.08rem 1.5rem;
    border-radius: 0rem 1.5rem 1.5rem 0rem;
    /*Pour faire disparaitre la bordure par défaut du input*/
	border: 0.1rem white solid;
}

.recherche:hover{
	color: #0065FC;
	background-color: white;
	border-color: #0065FC;
}
button{
	display: none;
}
/*--------------------------------------------------------------------------------------------*/
/*Partie filtre*/
/*--------------------------------------------------------------------------------------------*/
#filtres{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*Donne une limite au space-between*/
	max-width: 55%;
}

.titre-filtre{
	font-size: 2rem;
}

.element-filtre{
	font-size: 1.7rem;
	border: 0.3rem #F2F2F2 solid;
	border-radius: 2.5rem;
	padding: 1.2rem 2rem 1.2rem 6rem;
	/*Fait passer l'élément en dessous de l'icon*/
	z-index: 1;
}

.element-filtre:hover{
	color: #0065FC;;
	background: #DEEBFF;
	/*Fait grossir l'élément*/
	transform: scale(1.1);
	transition: all 0.3s ease-out;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
	/*Crétion du backround des icons*/
	color: #0065FC;
	background-color: #DEEBFF;
	padding: 1.5rem;
	border-radius: 2.5rem;
	font-size: 2rem;
	margin-right: -7rem;
	/*Fait passer l'icon par dessus l'élément*/
	z-index: 2;
}

.fa-child{
	/*child a besoin de padding différents*/
	padding: 1.5rem 1.8rem 1.5rem 1.8rem;
}

.infos{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*Donne une limite au space-between*/
	max-width: 24%;
}

.fa-info{
	color: #0065FC;
	border: 0.2rem #F2F2F2 solid;
	padding: 0.8rem 1.2rem 0.8rem 1.2rem;
	border-radius: 2.5rem;
	margin-right: 1.5rem;
}

/*--------------------------------------------------------------------------------------------*/
/*Partie hébergements*/
/*--------------------------------------------------------------------------------------------*/
#galerie{
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.hebergements-titre{
	background-color: #F2F2F2;
	padding: 2rem 1rem 1rem 1rem;
	border-radius: 2rem;
	width: 62%;
}

.hebergements-titre h2{
	margin-left: 1.5rem;
}


.hebergements{
	display: flex;
	flex-wrap: wrap;
	margin-top: -2rem;
}

.hebergements a{
	width: 27%;
	margin: 2rem 3rem 0.5rem 3rem;
}


.hebergements figure{
	margin: auto;
	width: 100%;
	box-shadow: 0rem 0.5rem 1rem #c3c1c1;
    border-radius: 2rem;
    border: 0.5rem white solid;
}

.hebergements img{
	width: 100%;
	height: 17rem;
	border-radius: 2rem 2rem 0rem 0rem;
	/*définit la façon dont img doit s'adapter*/
	object-fit: cover;
}

/*Ajustement des photos*/
.img-cannebiere, .img-port, .img-mouettes{
	/*définit la façon dont img doit s'adapter*/
	object-position: 0% 100%;
}

.img-mer{
	object-position: 0% 75%;
}
.img-amina{
	object-position: 0% 60%;
}

.hebergements figcaption{
	position: relative;
	background-color: white;
	margin-top: -4rem;
	height: 6.5rem;
	width: 101%;
	border-radius: 0rem 0rem 1rem 1rem;
	margin-left: -0.1rem;
}

.hebergements h3{
	margin-top: 0.5rem;
	margin-bottom: 0.3rem;
	font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.hebergements p{
	margin-top: 0.2rem;
    margin-bottom: 0rem;
    padding-left: 1.5rem;
    font-size: 1.3rem;
    width: 12rem;
}

.hebergements span{
	font-size: 1.8rem;
	margin: 3rem 0rem 0rem 1rem;
}

.fa-star{
	color: #0065FC;
	padding-top: 0.5rem;
}

.etoile-grise{
	color: #e5e5e5;
}

/*--------------------------------------------------------------------------------------------*/
/*Partie populaire*/
/*--------------------------------------------------------------------------------------------*/
.populaire{
	background-color: #F2F2F2;
	padding: 2rem;
	border-radius: 2rem;
	width: 30%;	
	display: flex;
	flex-direction: column;
}

.populaire h2{
	margin-left: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
}

.populaire a{
	width: 100%;
	margin-left: 1.5rem;
}

.populaire figure{
    margin: 0rem 0rem 3rem 0rem;
    width: 90%;
    height: 14rem;
    border: 0.5rem white solid;
    box-shadow: 0rem 0.5rem 1rem #c3c1c1;
    border-radius: 1rem;
}

.populaire img{
	width: 56%;
	height: 100%;
	border-radius: 1rem 0rem 0rem 1rem;
	/*définit la façon dont img doit s'adapter*/
	object-fit: cover;
	object-position: 0% 54%;
}

.populaire figcaption{
	position: relative;
	background-color: white;
	margin: -16.6rem 0rem 2rem 25rem;
	height: 15rem;
}

.populaire h3{
	margin-bottom: -0.5rem;
	font-size: 1.5rem;
    padding-left: 2rem;
    padding-top: 1.5rem;
}

.populaire p{
    padding-left: 2rem;
    font-size: 1.5rem;
    width: 15rem;
}

.populaire .fa-star{
	margin-top: 4rem;
}

.populaire .etoile-coeur{
	margin-top: 2.5rem;
}

/*--------------------------------------------------------------------------------------------*/
/*Partie activités*/
/*--------------------------------------------------------------------------------------------*/
#activiteBlock{
	margin: 7rem 6rem 0rem 3rem;
}

.activite{
	display: flex;
	justify-content: space-between;
	margin-top: -1rem;
}


.activite figure{
	width: 100%;
	margin-left: 0rem;
	box-shadow: 0rem 0.5rem 1rem #c3c1c1;
	border-radius: 2rem;
}

.activite img{
	border-radius: 2rem; 
	object-fit: cover;
	width: 100%;
}

.activite-large{
	width: 23%;
}

.activite-large img{ 
	height: 58rem;
}

.activite-colonne{
	display: flex;
	flex-direction: column;
}

.activite-colonne-deux{
	display: flex;
	flex-direction: column;
}

.activite-petit img{ 
	height: 18.5rem;
}

.activite-petit{
	width: 44rem;
	margin-bottom: 3rem;
}

.activite-petit .fort{
	height: 29rem;
}

.activite-petit .frioul{
	height: 23rem;
}

.activite-petit-deux{
	width: 39.2rem;
}

.activite figcaption{
	background-color: white;
	position: relative;
	height: 5.2rem;
	margin-top: -7rem;
	padding-left: 2rem;
	border-radius: 0rem 0rem 2rem 2rem;
}

.activite h3{
	padding-top: 2rem;
	font-size: 1.5rem;
}


/*--------------------------------------------------------------------------------------------*/
/*Partie footer*/
/*--------------------------------------------------------------------------------------------*/
#footer{
	background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem 0rem 3rem;
}

.footer-menu{
	display: flex;
	flex-direction: column;
	margin-right: 38rem;
}

.footer-menu h2{
	font-size: 1.8rem;
}

.footer-menu ul{
	margin-left: -4rem;
	margin-top: 0rem;
}

.footer-menu li{
	padding: 0.5rem;
}

/*--------------------------------------------------------------------------------------------*/
/*Appelle de la police Raleway*/
/*--------------------------------------------------------------------------------------------*/
@font-face{
	font-family: 'Raleway';
	src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face{
	font-family: 'RalewayItalic';
	src: url('Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-Thin';
	src: url('Raleway/static/Raleway-Thin.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-ExtraLight';
	src: url('Raleway/static/Raleway-ExtraLight.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-Light';
	src: url('Raleway/static/Raleway-Light.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-Regular';
	src: url('Raleway/static/Raleway-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-Medium';
	src: url('Raleway/static/Raleway-Medium.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-SemiBold';
	src: url('Raleway/static/Raleway-SemiBold.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-Bold';
	src: url('Raleway/static/Raleway-Bold.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-ExtraBold';
	src: url('Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face{
	font-family: 'Raleway-Black';
	src: url('Raleway/static/Raleway-Black.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-ThinItalic';
	src: url('Raleway/static/Raleway-ThinItalic.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-ExtraLightItalic';
	src: url('Raleway/static/Raleway-ExtraLightItalic.ttf') format('truetype');
}
@font-face{
	font-family: 'Raleway-LightItalic';
	src: url('Raleway/static/Raleway-LightItalic.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-Italic';
	src: url('Raleway/static/Raleway-Italic.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-MediumItalic';
	src: url('Raleway/static/Raleway-MediumItalic.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-SemiBoldItalic';
	src: url('Raleway/static/Raleway-SemiBoldItalic.ttf') format('truetype');
}
@font-face{
	font-family: 'Raleway-BoldItalic';
	src: url('Raleway/static/Raleway-BoldItalic.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-ExtraBoldItalic';
	src: url('Raleway/static/Raleway-ExtraBoldItalic.ttf') format('truetype');
}

@font-face{
	font-family: 'Raleway-BlackItalic';
	src: url('Raleway/static/Raleway-BlackItalic.ttf') format('truetype');
}