@media all and (min-width: 2000px) and (max-width: 2200px){

	body{
		font-size: 2rem;
		
	}

	header, section, aside{
		margin: 0rem 3rem 0rem 3rem;
	}

	/*--------------------------------------------------------------------------------------------*/
	/*Partie header*/
	/*--------------------------------------------------------------------------------------------*/

	/*--------------------------------------------------------------------------------------------*/
	/*Section formulaire*/
	/*--------------------------------------------------------------------------------------------*/
	
	h1 + p{
		font-size: 2rem;
	}

	/*--------------------------------------------------------------------------------------------*/
	/*Partie filtre*/
	/*--------------------------------------------------------------------------------------------*/

	.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
		margin-right: -11rem;
	}

	.infos{
		max-width: 27%;
	}

	/*--------------------------------------------------------------------------------------------*/
	/*Partie hébergements*/
	/*--------------------------------------------------------------------------------------------*/
	
	.hebergements a{
		width: 29%;
    	margin: 2rem 1rem 0.5rem 3rem;
	}

	.hebergements figcaption{
		height: 9.5rem;
	}

	.hebergements h3{
		font-size: 2rem;
	}

	.hebergements p{
		font-size: 2rem;
		width: 20rem;
	}

	.hebergements span {
	    font-size: 2.3rem;
	    margin: 3rem 0rem 2rem 1rem;
	}
	/*--------------------------------------------------------------------------------------------*/
	/*Partie populaire*/
	/*--------------------------------------------------------------------------------------------*/

	.populaire figure{
	    height: 15rem;
	}

	.populaire figcaption{
		height: 16rem;
		margin: -18rem 0rem 2rem 25rem;
	}

	.populaire h3{
		font-size: 2rem;
	}

	.populaire p{
	    font-size: 2rem;
	    width: 19rem;
	}

	.populaire .fa-star{
		margin-top: 4rem;
	}

	.populaire .etoile-coeur{
		margin-top: 2.5rem;
	}

	/*--------------------------------------------------------------------------------------------*/
	/*Partie activités*/
	/*--------------------------------------------------------------------------------------------*/
	.activite-large {
    	width: 25%;
	}

	.activite figcaption{
		padding-bottom: 1rem;
	}

	.activite h3{
		font-size: 2rem;
	}

	/*--------------------------------------------------------------------------------------------*/
	/*Partie footer*/
	/*--------------------------------------------------------------------------------------------*/
	.footer-menu h2 {
    	font-size: 2rem;
	}
}