@media all and (max-width: 320px){
	header, section, aside{
	margin: 0rem;
	}
/*--------------------------------------------------------------------------------------------*/
/*Partie header*/
/*--------------------------------------------------------------------------------------------*/
	header{
		margin-bottom: 6rem;
	}

	nav a{
		line-height: 4.5rem;
	}

	.logo{
		margin-left: 1rem;
	}

	.menu{
		padding: 0rem 0rem 0rem 1rem;
		border-bottom: 0.5rem solid #F2F2F2;
		justify-content: center;
		width: 100%;
	}

	.menu a {
	    padding: 0rem;
    }

	.menu a:hover{
		border-top: none;
	}

	.menu-responsive{
	    margin: 9rem 0rem -0.5rem -3rem;
	}

	.menu-activite-responsive{
		margin-right: -3rem;
	}

	.inscription{
		line-height: 7rem;
	}

	.barre-une{
		display: flex;
		flex-direction: column-reverse;
		height: 0.5rem;
	    width: 12.5rem;
	    margin: 0rem -1rem 0rem 0rem;
	    padding: 0rem 0rem 0rem 3rem !important;
	}

	.barre-deux{
		display: flex;
		flex-direction: column-reverse;
		height: 0.5rem;
		width: 11rem;
	    margin: 0rem -7.5rem 0rem 4rem;
	    padding: 0rem 2rem 0rem 5rem !important;		
	}

	.barre-une:hover, .barre-deux:hover{
		background-color: #106ffc;
	}
/*--------------------------------------------------------------------------------------------*/
/*Section formulaire*/
/*--------------------------------------------------------------------------------------------*/
	form{
		margin: 2rem 0rem 0rem 1rem;
	}

	#formulaire{
		margin: 7rem 1rem 0rem 1rem;
	}

	h1{
		font-size: 2rem;
		margin-bottom: 0rem;
		margin-left: 1rem;
	}

	h1 + p{
		font-size: 1.5rem;
		margin-left: 1rem;
	}

	label {
		padding: 1.25rem 1.4rem 1.25rem 1.4rem;
		border-radius: 1.2rem 0rem 0rem 1.2rem;
		position: relative;
	}

	.fa-map-marker-alt {
    	font-size: 1.6rem;
	}

	#lieux {
	    font-size: 1.5rem;
	    margin-left: -1.8rem;
	    padding: 1.15rem 0rem 1.15rem 2rem;
	}

	.recherche{
		display: none;
	}

	button{
		display: inline;
		color: white;
		font-size: 1.5rem;
		margin-left: -1.5rem;
		background-color: #0065FC;
		padding: 1.1rem 1.3rem 1.2rem 1.2rem;
		border-radius: 1.2rem 1rem 1rem 1rem;
		border: none;
	}

/*--------------------------------------------------------------------------------------------*/
/*Partie filtre*/
/*--------------------------------------------------------------------------------------------*/
	#filtres{
		flex-direction: column;
		align-items: flex-start;
		margin-left: 2rem;
		max-width: 100%;
	}

	.element-filtre{
		margin: -5rem 1rem 1.5rem 1rem;
		padding: 1.2rem 2rem 1.2rem 5rem;
	}

	.fa-info{
		margin-right: 1rem;
	}

	.infos{
		max-width: 100%;
		font-size: 1.7rem;
		margin: 2rem 0.5rem 7rem 2rem;
	}

/*--------------------------------------------------------------------------------------------*/
/*Partie populaire*/
/*--------------------------------------------------------------------------------------------*/
	#galerie{
		flex-direction: column-reverse;
	}

	.populaire{
		border-radius: 0rem;
		width: 102%;
		padding: 0rem;
	}

	.populaire a{
		width: 96%;
	}

	.populaire figure{
		border-radius: 2rem;
		height: 13.89rem;
	}

	.populaire figcaption{
		margin: -16rem 0rem 0rem 12rem;
		height: 102%;
	}

	.populaire img{
		object-position: 100% 55%;
		width: 45%;
		border-radius: 2rem 0rem 0rem 2rem;
	}

	.populaire p, .populaire h3{
		padding-left: 1rem;
	}

	.populaire .fa-star{
		margin-top: 2rem;
		font-size: 1.2rem;
	}

	.populaire .etoile-coeur {
    	margin-top: 1rem;
	}

/*--------------------------------------------------------------------------------------------*/
/*Partie hébergements*/
/*--------------------------------------------------------------------------------------------*/
 	
 	.hebergements-titre{
 		background-color: inherit;
 		width: 100%;
 		padding: 0rem;
 	}

 	.hebergements-titre h2{
 		font-size: 1.8rem;
 		margin-left: 2rem;
 	}

 	.hebergements{
 		flex-direction: column;
 	}

 	.hebergements a{
 		width: 100%;
 		margin: 2rem 1rem 0rem 0rem;
 	}

 	.hebergements figure{
 		width: 80%;
 	}

 	.hebergements img{
 		height: 13rem;
 	}

 	.hebergements figcaption{
 		border-radius: 0rem 0rem 1rem 1rem;
 		margin-left: -0.2rem;
    	padding-right: 0.4rem;
 	}

 	.img-cannebiere{
 		object-position: 0% 80%;
 	}

 	.img-port, .img-mouettes{
 		object-position: 0% 100%;
 	}

 	.hebergements span{
 		font-size: 1.8rem;
 		margin-left: 2rem;
 		margin-bottom: 3rem;
 	}

/*--------------------------------------------------------------------------------------------*/
/*Partie activités*/
/*--------------------------------------------------------------------------------------------*/
	 
	#activiteBlock{
		margin: 2rem;
	}

	.activite{
		flex-direction: column;
	}

	.activite-large, .activite-petit, .activite-petit-deux{
		width: 100%;
		margin-bottom: 0rem;
	}

	.activite-large img, .activite-petit img, .activite-petit-deux img, .activite-petit .fort, .activite-petit .frioul{
		height: 17rem;
	}

	.activite-colonne{
		margin: 0rem;
	}

/*--------------------------------------------------------------------------------------------*/
/*Partie footer*/
/*--------------------------------------------------------------------------------------------*/

	#footer{
		flex-direction: column;
		width: 95%;
		padding: 0rem 0rem 0rem 2rem;
	}

	.footer-menu{
		margin-right: 0rem;	
	}
}